<h2>Current tasks</h2>

<ul class="collection" >
  <%= for task <- @tasks do %>
  <li class="collection-item">
    <%= task.name %> | <%= "#{String.slice(task.description, 0..7)} ..." %> | <%= Ornithologist.Task.Priority.humanize(task.priority) %>
    <%= link "Edit", to: Routes.task_path(@conn, :edit, task) %>
    <%= link "Delete", to: Routes.task_path(@conn, :delete, task), method: :delete %>
  </li>
  <%end%>
</ul>
