<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <p>Greetings!</p>
    <%= @inner_content %>
    <p>- The Ornithologist Team.</p>
  </body>
</html>
